apiVersion: v1
kind: ConfigMap
metadata:
  name: liferay-configuration
  labels:
    {{- include "liferay.labels" . | nindent 4 }}
  {{- with .Values.configmap.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  {{- toYaml .Values.configmap.data | nindent 2 }}
